<ion-app>

  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-title>Train Your Brain</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Content -->
  <ion-content [scrollX]="false" [scrollY]="true">

    <div class="container">
      <img class="train" src="/assets/images/misc/train.png" ondragstart="return false;" ondrop="return false;">

      <!-- Grid extents -->
      <div id="grid-extents">
        <h5>Select grid size</h5>
        <ion-slides #gridExtentSlides [options]="gridExtentOptions" (ionSlideDidChange)="onGridExtentChange()">
          <ion-slide *ngFor="let extent of GridExtents">
            <ion-card>
              <ion-card-content>
                <img class="pixelated" src="/assets/images/grids/{{extent.image}}.png" ondragstart="return false;" ondrop="return false;">
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
        <h6>{{gameService.CurrentGridExtent.rows}}&times;{{gameService.CurrentGridExtent.cols}}</h6>
      </div>

      <!-- Themes -->
      <div id="card-themes">
        <h5>Select card theme</h5>
        <ion-slides #cardThemeSlides [options]="cardThemeOptions" (ionSlideDidChange)="onCardThemeChange()">
          <ion-slide *ngFor="let theme of CardThemes">
            <ion-card>
              <ion-card-content>
                <img src="/assets/images/home/{{theme.image}}.png" ondragstart="return false;" ondrop="return false;">
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
        <h6>{{gameService.CurrentCardTheme.title}}</h6>
      </div>
    </div>
  </ion-content>

  <!-- Footer -->
  <ion-footer>
    <ion-toolbar>
      <ion-button color="light" expand="full" fill="clear" (click)="onStartGame()">
        <ion-icon name="play"></ion-icon>&nbsp;Start game
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-app>
