<ion-app>

  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-title>The end</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Content -->
  <ion-content [scrollX]="false" [scrollY]="false">
    <div class="container completed">
      <div class="completed-content">
        <h1>Level<br>completed</h1>
        <h2 class="time">Your time: <span class="value">{{timeService.CurrentTimeStr}}</span></h2>
        <h2 *ngIf="timeService.IsBestTime" class="best-time">
          <ion-icon name="star"></ion-icon>
          Best time
          <ion-icon name="star"></ion-icon>
        </h2>
      </div>
    </div>
  </ion-content>

  <!-- Footer -->
  <ion-footer>
    <ion-toolbar>
      <ion-button color="light" expand="full" fill="clear" (click)="onBackClick()">
        <ion-icon name="exit"></ion-icon>&nbsp;Thanks for playing!
      </ion-button>
    </ion-toolbar>
  </ion-footer>
</ion-app>